<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:screenOrientation="landscape"
        android:supportsRtl="false"
        android:theme="@style/Theme.BagrutProject"
        tools:ignore="DiscouragedApi"
        tools:targetApi="31">
        <activity
            android:name=".activity.StartActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LevelActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HowToPlayActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CreditsActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MenuActivity"
            android:exported="true"
            android:screenOrientation="landscape" />

        <service
            android:name=".service.BackgroundMusicService"
            android:enabled="true" />
    </application>
</manifest>